[Desktop Entry]
Name=SereinGram
Comment=Feature-rich Telegram client
TryExec=SereinGram
Exec=SereinGram -- %U
Icon=io.github.eltavine.SereinGram
Terminal=false
StartupWMClass=SereinGram
Type=Application
Categories=Chat;Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/tg;x-scheme-handler/tonsite;
Keywords=tg;chat;im;messaging;messenger;sms;tdesktop;
Actions=quit;
DBusActivatable=true
SingleMainWindow=true
X-GNOME-UsesNotifications=true
X-GNOME-SingleWindow=true

[Desktop Action quit]
Exec=SereinGram -quit
Name=Quit SereinGram
Icon=application-exit
