[Desktop Entry]
Name=Nagram
Comment=New era of messaging
TryExec=Nagram
Exec=Nagram -- %U
Icon=xyz.nextalone.nagram.desktop
Terminal=false
StartupWMClass=NagramDesktop
Type=Application
Categories=Chat;Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/tg;x-scheme-handler/tonsite;
Keywords=tg;chat;im;messaging;messenger;sms;tdesktop;
Actions=quit;
DBusActivatable=true
SingleMainWindow=true
X-GNOME-UsesNotifications=true
X-GNOME-SingleWindow=true

[Desktop Action quit]
Exec=Nagram -quit
Name=Quit Nagram
Icon=application-exit
